# {{ ansible_managed }}

[{{ postgresql_repo_uid }}]
name = {{ postgresql_repo_name }}
baseurl = {{ postgresql_repo_baseurl }}
gpgkey = {{ postgresql_repo_gpgkey }}
gpgcheck = {{ postgresql_repo_gpgcheck }}
enabled = {{ postgresql_repo_enabled }}